.home-table-card {
    background-color: var(--isabelline);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.home-table-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.home-table-card-name p {
    font-size: 25px;
    font-weight: 700;
    text-align: end;
    color: var(--melon);
}

.home-table-card-capacity p {
    font-size: 20px;
    font-weight: 300;
}