.command {
    background-color: var(--white);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 45%;
    margin: auto;
}

.command p {
    color: var(--black);
    font-size: 18px;
}

.command strong {
    color: var(--black);
    font-weight: 500;
}

.command-header img {
    filter:grayscale(100%);
    height: 150px;
    width: auto;
}

.command-title {
    margin-bottom: 5px;
    border-bottom: 2px solid var(--jet);
    padding-bottom: 10px;
}

.command-info {
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    border-bottom: 1px solid var(--silver);
    padding-bottom: 10px;
    margin-bottom: 5px;
}

.command h4 {
    text-align: left;
    margin-bottom: 5px;
    color: var(--black);
    font-size: 18px;
    font-weight: 500;
}

.command ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    border-top: 1px dashed var(--jet);
    border-bottom: 1px dashed var(--jet);
    padding-top: 10px;
    padding-bottom: 10px;
}

.command ul li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    font-size: 0.9em;
}

.command ul li strong {
    font-weight: bold;
}

.command h3 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    text-align: right;
}