.command h2 {
    margin: 0 0 20px;
    font-size: 2em;
    text-align: center;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

.command p {
    margin: 5px 0;
    font-size: 1em;
}

.command ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    border-top: 1px dashed #bbb;
    border-bottom: 1px dashed #bbb;
    padding-top: 10px;
    padding-bottom: 10px;
}

.command ul li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    font-size: 0.9em;
}

.command ul li strong {
    font-weight: bold;
}

.command .total {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: right;
}
