.home-command-card {
    background-color: var(--isabelline);
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    color: var(--jet);
    height: 100%;
}

.home-command-card-hide-button {
    display: flex;
    justify-content: end;
}

.home-command-card-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    height: 15%;
}

.home-command-card-header h2 {
    font-weight: 600;
}
.home-command-card-header h4 {
    font-weight: 400;
}

.home-command-card-header h2,
h4,
.home-command-card-total h3 {
    margin: 0;
}

.home-command-card-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    overflow-y: auto;
    height: 85%;
    width: 100%;
}

.home-command-card-product {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.home-command-card-product-quantity,
.home-command-card-product-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home-command-card-product-quantity p {
    font-size: 16px;
}

.home-command-card-product-header h4 {
    font-weight: 500;
}

.home-command-card-product-delete-button:hover,
.home-command-card-hide-button:hover,
.home-command-card-actions-delete-button:hover,
.home-command-card-actions-save-button:hover {
    color: var(--silver);
}

.home-command-card-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20%;
    width: 100%;
}

.home-command-card-total {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(var(--silver-rgb), 0.2);
}

.home-command-card-total h3 {
    color: var(--melon);
}

.home-command-card-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}