.category-card {
    background-color: var(--isabelline);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 20px 10px 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.category-title {
    text-transform: uppercase;
    color: var(--taupe);
    font-weight: bold;
}

.category-title h3 {
    margin: 0;
    font-weight: 500;
}

.category-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.category-settings {
    display: flex;
    justify-content: flex-end;
}

.category-card .dropdown-settings {
    bottom: 20%;
    left: -300%;
    flex-direction: row-reverse;
    top: 0;
    transform: none;
}