.product-item {
    background-color: rgba(var(--silver-rgb), 0.3);
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0px 10px 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.product-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.product-name h3 {
    font-size: 18px;
    margin: 0 0 8px;
    color: var(--taupe);
    text-align: left;
    text-transform: uppercase;
}
.product-name h4 {
    font-size: 16px;
    margin: 0 0 8px;
    color: var(--taupe);
    text-align: left;
}

.product-description p,
.product-allergens p,
.product-price p {
    font-size: 14px;
    margin: 4px 0;
    color: var(--taupe);
    text-align: left;
}

.product-price p {
    font-weight: bold;
    color: var(--jet);
}