body {
    margin-top: 60px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--battleship-gray);
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: var(--jet);
}

.navbar-brand:hover {
    color: var(--silver);
}

.navbar-icon {
    background: none;
    border: none;
    padding: 0.6em 1.2em;
    color: var(--jet);
    cursor: pointer;
    transition: color 0.3s;
}

.navbar-icon:hover {
    color: var(--silver);
}

.navbar-icon:focus {
    outline: none;
    border: none;
}

/* Estilo para el menú desplegable */
.navbar-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
    max-height: 0;
}

.navbar-menu.active {
    max-height: 300px;  /* Ajusta el valor según el número de elementos */
}

.navbar-menu-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar-item {
    padding: 10px 20px;
    font-weight: bold;
}

.navbar-item a {
    text-decoration: none;
    color: var(--isabelline);
    display: block;
    transition: background-color 0.3s;

}

.navbar-item a:hover {
    color: var(--taupe);
}

/* Estilo para la parte derecha de la barra */
.navbar-right {
    display: flex;
    align-items: center;
    margin-right: 20px;
}