.user-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-y: auto;
    padding: 20px;
}

.user-card-container {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.user-card {
    background-color: var(--isabelline);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    text-transform: uppercase;
    color: var(--taupe);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-card:hover, .add-user-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.user-name-container {
    width: auto;
}

.add-user-btn {
    background-color: rgba(var(--isabelline-rgb), 0.5);
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    color: var(--jet);
    display: flex;
    align-items: center;
    justify-content: center;
}