.landing-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--silver);
    position: relative;
    overflow: hidden;
}

.animation-container,
.text-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 1s ease-in-out;
    width: 100%;
}

.animation-container.visible {
    opacity: 1;
}

.animation-container.fade-out {
    opacity: 0;
}

.text-container.hidden {
    opacity: 0;
}

.text-container.fade-in {
    opacity: 1;
}

.animation-title,
.final-title {
    font-size: 8em;
    color: var(--isabelline);
    text-align: center;
}
