:root {
  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --line-height: 1.5;
  --font-weight: 400;

  --taupe: #463f3a;
  --battleship-gray: #8a817c;
  --silver: #bcb8b1;
  --isabelline: #f4f3ee;
  --melon: #e0afa0;
  --jet: #3A3530;
  --ash-gray: #A0C1B8;
  --white: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Dark theme colors */
.dark-mode {
  --taupe: #25211f;
  --battleship-gray: #4b4745;
  --silver: #827f7a;
  --isabelline: #373635;
  --melon: #3e312d;
  --jet: #211e1b;
  --ash-gray: #536560;
  --white: #000000;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-weight: var(--font-weight);
  background-color: var(--white);
  transition: background-color 0.3s ease, color 0.3s ease;
  
}

/* Link styles */
a {
  text-decoration: inherit;
  transition: color 0.3s;
}

/* Heading styles */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Button styles */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}