@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

:root {
  --font-family: 'Kumbh Sans', sans-serif;
  --line-height: 1.5;
  --font-weight: 400;

  --taupe: #463f3a;
  --battleship-gray: #8a817c;
  --silver: #bcb8b1;
  --silver-rgb: 188, 184, 177;
  --isabelline: #f4f3ee;
  --isabelline-rgb: 244, 243, 238;
  --melon: #e0afa0;
  --jet: #3A3530;
  --ash-gray: #A0C1B8;
  --white: #ffffff;
  --black: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Dark theme colors */
.dark-mode {
  --taupe: #25211f;
  --battleship-gray: #4b4745;
  --silver: #827f7a;
  --silver-rgb: 188, 184, 177;
  --isabelline: #6e6e6d;
  --isabelline-rgb: 55, 54, 53;
  --melon: #cbb7a6;
  --jet: #cac2bb;
  --ash-gray: #536560;
  --white: #00000085;
  --black: #cac2bb;
  ;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font-family);
  line-height: var(--line-height);
  background-color: var(--white);
  transition: background-color 0.3s ease, color 0.3s ease;
  overflow: hidden;
}